@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is a project about an online store that sells construction materials, toasters, countries and probably also white hole singularities and dark matter.</p>
<p> Made from 8:44 12/6/2025 - 11:17 12/6/2025</p>
